name: CI

env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_CLI_EXPERIMENTAL: "enabled"

on:
  pull_request:
    branches: ["main"]

  push:
    branches: ["main"]

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v3

      - name: Create the .env file from example
        run: cp .env.example .env

      - name: Build the Stack
        run: docker-compose build

      - name: Run APIs Tests
        run: docker-compose run prem_controller pytest

      - name: Tear down the Stack
        run: docker-compose down

  push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push the Images
        run: |
          docker buildx build \
            --push \
            --file ./Dockerfile \
            --tag ghcr.io/premai-io/prem-controller:latest \
            --platform linux/arm64,linux/amd64 .
